[user]
	name = Jacques Uys
	email = jaxuys@gmail.com
[color]
	ui = true
[alias]
	st = status
	co = checkout
	br = branch
	one = log --oneline
	ps = push
	ci = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	autocrlf = input
	safecrlf = true
